django<4
psycopg2==2.9.3
djangorestframework==3.13.1
web3==5.31.0
requests==2.28.1
djangorestframework-simplejwt==5.2.0
django-redis==5.2.0
peewee==3.15.2
git+https://github.com/triathon/slither.git@master
solc-select==0.2.0

mythril==0.23.9
redis
certifi
psycopg2-binary==2.9.3
beautifulsoup4==4.11.1